.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

@media all and (max-width: 480px) {
  .mobile-block {
    width: 100%;
    display: block;
  }
}

.gg {
  background-color: antiquewhite;
}

.bs-color {
  background-color: blueviolet;
}
